<div class="well">
    <h1>Framindmap</h1>
    <p>Framindmap repose sur le logciel libre <a href="http://www.wisemapping.com">Wisemapping</a>.</p>
    <p>Intégration : JosephK</p>
    <h2>Licence</h2>
    <p>Wisemapping est sous <a href="https://wisemapping.atlassian.net/wiki/pages/viewpage.action?pageId=524357">licence <abbr title="Wisemapping Public Licence" class="initialism">WPL</abbr></a>.</p>

    <p>Auparavant, Framindmap reposait sur le logiciel <a href="https://github.com/drichard/mindmaps">Mindmaps</a> de David Richard.</p>
</div>
