<div class="well">
    <h1>Framasphère</h1>
    <p>Framasphère repose sur le logiciel libre <a href="https://diasporafoundation.org">Diaspora*</a></p>
    <p>Il est compatible avec la majorité des navigateurs web et ne requiert aucune installation spécifique pour être utilisé sur mobile.</p>
    <p>Il est sous <a href="https://github.com/diaspora/diaspora/blob/develop/COPYRIGHT">licence <abbr title="GNU Affero General Public License" class="initialism">AGPL</abbr></a>.</p>
</div>
